PORT=PORT
JWT_SECRET=SECRET
MONGODB_URI=DB_URI
XP_CONSTANT=XP_GAIN
TRANSACTION_SECRET=SECRET_TRANSACTIONS_GAME
OXAPAY_MERCHANT_API_KEY=MERCHANT_KEY_FOR_OXAPAY
PAYOUT_API_KEY=PAYOUT_KEY_FOR_OXAPAY
DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN
DISCORD_GUILD_ID=YOUR_DISCORD_GUILD_ID
DISCORD_TICKET_CATEGORY_ID=YOUR_DISCORD_TICKET_CATEGORY_ID
DISCORD_TICKET_SUPPORT_ROLE_ID=YOUR_DISCORD_TICKET_SUPPORT_ROLE_ID